.kmap-typeahead-picker {
    clear: both;
}

/* FROM Sarvaka Mediabase mediabase-edit-form.css */

/**
* BEGIN Typeahead Menu
*/
.kmaps-tt-menu{
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}
.kmaps-tt-menu,
.twitter-typeahead {
    padding-top: 0 !important;
    text-rendering: optimizeSpeed;
}
.kmaps-tt-header{
    background-color: #eee;
    font-weight: bold;
    border-top: 2px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px 20px 4px 14px;
}
.kmaps-tt-header:first-of-type {
    border-top: none;
    margin-top: 0;
    border-radius: 0.8rem 0.8rem 0 0;
    display: block;
    width: 100%;
}
/* These are the search headers which have pagers. The filters do not have pagers. */
.kmap-typeahead-picker .kmaps-tt-header:first-of-type{
    position: relative;
    height: 60px !important;
    padding-top:1rem;
    margin-bottom: 0.4rem;
}
.typeahead-pager.pager{
    font-size: 85%;
    position: absolute;
    right: 0.7rem;
    bottom: 0.4rem;
}
.kmaps-tt-header .close{
    position: relative;
    top: -11rem;
    right: -2.5rem;
    /*color: transparent;*/
    filter: alpha(opacity=30);
    opacity: 0.3;
    font-size: 2em;
}
.kmaps-tt-header .close:hover,
.kmaps-tt-header .close:focus{ 
    /*color:transparent;*/
}
.kmaps-tt-header .close::before{
    /*content: 'Close X';
    color:#000;
    display: inline-block;
    font-size: 0.44em;
    font-family: arial, tahoma, sans-serif;*/

    /*position: relative;
    right: 8.5rem; 
    top: -1rem;*/
}
.kmap-typeahead-picker label{
    text-transform: capitalize;
    padding-left:1rem;
    font-weight: normal;
}
.kmap-typeahead-picker label span{
    text-transform: uppercase;
    font-weight: bold;
}
.kmaps-tt-menu .kmaps-tt-suggestion{
    padding: 2px 20px 2px 20px;
    margin-left: 10px;
}

.kmaps-tt-menu .kmaps-tt-suggestion .kmaps-count{
    font-size: 80%;
}
.kmaps-tt-menu .kmaps-tt-suggestion::before{
    content: '';
    width: 9px;
    height: 9px;
    border: 1px solid #777;
    background: transparent;
    position: relative;
    right: 8px;
    bottom: 0;
    display: inline-block;
    margin-left: -10px;
}
.kmaps-tt-suggestion:hover .kmaps-count,
.kmaps-tt-suggestion.kmaps-tt-selected:not(.kmaps-tt-zero-facet):hover,
.kmaps-tt-suggestion:not(.kmaps-tt-selected):not(.kmaps-tt-zero-facet):hover{
    cursor: pointer;
    color:#444;
    background-color: transparent !important;
}
.kmaps-tt-suggestion.kmaps-tt-cursor{
    background-color:transparent !important;
    background-image:none !important;
    /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)"; - Note: if needed for overriding library css in IE, but below may suffice, and it should  work in SCSS */
    filter:none !important;
    color:#000 !important;

}


